<% content_for :sidebar_left do %>
	<div class="well">
	  <div class="nav-header">Statuses</div>
	  <ul>
	    <li><b>Inbox</b> - questions that have not been answered by a functionary. Can be new question or a question with reply from participant.</li>
	    <li><b>Answered</b> - questions that have been answered by a functionary, but not resolved.</li>
	    <li><b>Resolved</b> - questions that are considered resolved by a functionary.</li>
	  </ul>
	  <p>
	    Questions can easily be resolved by viewing a question and pressing "resolve question". A resolved question will be reopened if a participant adds corresponence to it.
	  </p>
	</div>
<% end %>
