<%= content_for :sidebar_right do %>
  <% if !current_user.has_role?(:participant) %>
    <div class="well">
      <h4>Previous questions by this participant</h4>
      <table class="table">
        <thead>
          <th></th>
        </thead>
        <% @prev_questions.each do |q| %>
        <tr>
          <td><%= link_to image_tag('icons/comment.png') + ' ' + q.subject, q %></td>
        </tr>
        <% end %>
      </table>
    </div>
  <% end%>
<% end %>
