<% content_for :sidebar_left do %>
	<ul class="nav nav-list well">
    <li class="nav-header">Menu</li>
    <li><%= link_to image_tag('icons/comment_add.png') + ' New Question', new_question_path %></li>
  <ul>
<% end %>
