<% content_for :sidebar_left do %>
  <h4>Statuses</h4>
    <ul>
      <li><b>New</b> - questions that have not been answered by a functionary</li>
      <li><b>Open</b> - questions that have been answered by a functionary, but not resolved</li>
      <li><b>Resolved</b> - questions that are viewed as resolved by a functionary</li>
    </ul>
  <p>
    Questions can now easily be resolved by viewing a question and pressing "resolve question". A resolved question will be reopened if a participant adds corresponence to it.
  </p>
<% end %>