<ol class="breadcrumb">
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li class="active">Questions</li>
</ol>

<h1>My questions</h1>

<table class="table table-bordered table-striped">
  <thead>
    <th>Subject</th>
    <th>Answers</th>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.subject, question %></td>
        <td><%= pluralize(question.answers.size, "answer") %></td>
      </tr>
    <%end %>
  </tbody>
</table>

<%= render 'menu_index' %>
