<% content_for :sidebar_left do %>
<ul class="nav nav-list well">
  <li class="nav-header">Menu</li>
  <% if can? :index, Workshop %>
    <li><%= link_to image_tag('icons/page_white_stack.png') + ' Show all workshops', workshops_path %></li>
  <% end %>
</ul>

<p>
  This page can only be viewed by functionaries and administrators. Only 
  administrators can edit workshop info. Please contact an administrator if you 
  find any mistakes in the workshop-pages
</p>

<% end %>
