<%= render 'menu' %>

<% content_for :sidebar_left do %>
<p>
  This page can only be viewed by functionaries and administrators. Only 
  administrators can edit workshop info. Please contact an administrator if you 
  find any mistakes in the workshop-pages
</p>
<% end %>

<div class="well">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Workshop</th>
      <th></th>
      <th></th>
    </tr>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= "Workshop #{workshop.id}: #{workshop.name}" %></td>
        <td><%= link_to 'Show', workshop, :class => "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_workshop_path(workshop), :class => "btn" %></td>
      </tr>
    <% end %>
  </table>
</div>
