<div class="pull-right">
<%= link_to 'Back', workshops_path, :class => "btn btn-default" %>
</div>
  <p>
  <h1><%= @workshop.title %></h1>
  </p>

  <p>
  <strong><%= @workshop.lead %></strong>
  </p>

  <p>
  <%= @workshop.description %>
  </p>