<div class="pull-right">
<%= link_to 'Back', admin_workshops_path, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn btn-default"  %>
</div>
<h1>New workshop</h1>

<%= render 'form' %>

