<h1>Editing information category</h1>
<div class="pull-right">
	<%= link_to 'Show', @information_category, class: "btn btn-default" %>
	<%= link_to 'Index', information_categories_path, class: "btn btn-primary" %>
</div>


<%= render 'menu' %>
<%= render 'form' %>
