<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @information_category.title %>
</p>


<%= link_to 'Edit', edit_information_category_path(@information_category) %> |
<%= link_to 'Back', information_categories_path %>
