<p id="notice"><%= notice %></p>

<div class="pull-right">
	<%= link_to 'Edit', edit_information_category_path(@information_category), class: "btn btn-default" %>
	<%= link_to 'Index', information_categories_path, class: "btn btn-primary" %>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<p>
		<b>Title:</b>
  	<%= @information_category.title %>
  	</p>
  </div>
</div>
