<h1>Steps to ISFiT</h1>

<p>You have completed all released steps and will be notified when more steps are available.</p>

<% content_for :sidebar_left do %>
  <%= render 'dashboard/sidebar/participant' %>
<% end %>