<h1>Steps to ISFiT</h1>

<p>Congratulations! You have completed all steps for ISFiT 2015, we can't wait to see you in Trondheim.</p>

<% content_for :sidebar_left do %>
  <%= render 'dashboard/sidebar/participant' %>
<% end %>