<% content_for :sidebar_left do %>
<ul class="nav well nav-list">
    <li class="nav-header">Admin shortcuts</li>
    <li><%=link_to image_tag('icons/page_white_add.png')  + " Write article", new_article_path %></li>
    <li><%=link_to image_tag('icons/report_add.png') + " Write Information page", new_information_page_path %></li>
</ul>
<br>
<% end %>

<% content_for :sidebar_right do  %>
<div class="well">
    <h4>Quick overview</h4>

    <dl>
      <dt>Number of users:</dt>
      <dd><%= @number_of_users %></dd>
      <dt>Number of profiles:</dt>
      <dd><%= @number_of_profiles %></dd>
    </dl>
</div>
<% end %>

<!-- Admin view -->
<div id="important_articles" class="important_articles">
    <p>Noting to see here</p>
</div>
<div id="articles" class="articles">
    <p>Noting to see here</p>
</div>