<h1>Welcome, <%= current_user.full_name %>!</h1>

<p>
  Welcome to the participant web for ISFiT 2015! From here you can apply to participate in the festival where you can feel the ISFiT experience.
</p>

<p>
  Deadline for submitting the application is the <strong>30th of September 2014</strong>!
</p>

<% if current_user.profile && current_user.profile.motivation_essay != '' %>
  <p>
    <%= link_to '<strong>Profile</strong><br>Your profile is complete! <em>Edit profile</em>'.html_safe, settings_edit_profile_path, class: 'btn btn-success btn-dashboard' %>
  </p>
<% elsif current_user.profile %>
  <p>
    <%= link_to '<strong>Profile</strong><br>You have a profile, but motivation essay is missing! <em>Edit profile</em>'.html_safe, settings_edit_profile_path, class: 'btn btn-warning btn-dashboard' %>
  </p>
<% else %>
  <p>
    <%= link_to '<strong>Profile</strong><br>You need a profile before you can apply! <em>Create profile</em>'.html_safe, settings_new_profile_path, class: 'btn btn-danger btn-dashboard' %>
  </p>
<% end %>


<h2>Workshop application</h2>

<p>
  The workshops are small groups where participants will share their experience, work creatively with and discuss topics related to the overall theme of ISFiT 2015, corruption.
</p>

<p>
  Those who are selected to participate will receive an invitation by e-mail.
</p>

<p>
  <button class="btn btn-disabled btn-dashboard">
    <strong>Workshop application</strong><br>
    Will be available in the middle of August
  </button>
</p>

<p>ISFiT 2015 aims to have skilled participants with diverse backgrounds regarding geography, culture, class and gender. To achieve this goal, we will be able to offer some participants financial support.</p>

<p>
  <button class="btn btn-disabled btn-dashboard">
    <strong>Financial aid application</strong><br>
    Will be available in the middle of August
  </button>
</p>


<h2>Dialogue application</h2>

<p>
  The Dialogue Groups is a meeting place for students from different sides of conflicts. The students are given the opportunity to better understand their counterpart’s point of view, through such means as conversations and workshops.
</p>

<p>
  The Dialoge Groups are only open for participants from selected countries. These will be announced afthe the summer
</p>

<p>
  <button class="btn btn-disabled btn-dashboard">
    <strong>Dialogue application</strong><br>
    Will be available in the middle of August
  </button>
</p>