<div class="pull-right">
  <%= link_to 'Show', @profile, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn btn-default" %>
  <%= link_to 'Back', profiles_path, confirm: 'This will cancel all changes. Are you sure?', method: :get , :class => "btn btn-default" %>
</div>
<h1>Editing profile</h1>

<%= render 'form' %>

