<h1>Create profile</h1>

<% if @user == current_user %>
<p>Hi, <%= current_user.full_name %>!</p>

<p>Your user was successfully created. But before you can send in your application, we need some more information about you. So please fill in information for your profile!</p>
<% end %>

<%= render 'form' %>

