<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<p>Dear ISFiT-participant</p>

<p>We are pleased to inform you that you have been granted financial aid for ISFiT 2015. Please go to participant web at: <a href="https://participant.isfit.org">https://participant.isfit.org</a> for more information.</p>

<p>If you have any concerns or questions, do not hesitate to contact us at <a href="https://participant.isfit.org">https://participant.isfit.org</a></p> 

<p>
  Regards,<br>
  The Participant Team<br>
  ISFiT 2015<br>
</p>
</body>
</html>