<% content_for :sidebar_left do %>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to 'Review profiles', review_profiles_path %></li>
    <li><%= link_to 'Review workshop applications', review_workshop_applications_path %>
  </ul>
<% end %>