<% content_for :sidebar_left do %>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to 'Review profiles', review_profiles_path %></li>
  </ul>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li class="active">Workshop applications</li>
</ol>