<h1>Workshop application</h1>

<p>
  The workshops are small groups where participants will share their experience, work creatively with and discuss topics related to the overall theme of ISFiT 2015, corruption. If you are interested in participating in ISFiT 2015, you must fill in the following form.
</p>

<p>
  Please note that you have to be at least 18 years old and a student at the time of participation. The form must be completed by the 30th of September.
</p>

<p>
  Applications will be read after the 30th of September, and those who are selected to participate will receive an invitation by e-mail. Instructions on how to obtain a visa and other formalities, will be given to the invited students. Due to limited capacity we cannot invite all applicants.
</p>

<%= render 'form' %>