<h1>Waiting list</h1>

<p><strong>Do you with to be on a waiting list for participation in ISFiT 2015?</strong></p>

<p>The final results will be available on the 20th of January. If you are granted participation at ISFiT 2015, the final deadline for confirming your participation at the festival, is the 1st of February. You will not be granted travel support.</P>

<%= form_tag(waiting_list_path, method: :put) do %>
  <div class="btn-group">
    <%= submit_tag 'Yes', {class: 'btn btn-success'} %>
    <%= submit_tag 'No', {class: 'btn btn-primary'} %>
  </div>
<% end %>