<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Her er brukernavn og passord til deltakerweb.<br>
      <a href="<%= @url %>"><%= @url %></a>
    </p>
    <p>
      brukernavn: <%= @user.email %><br>
      passord: <%= @user.first_password %><br>
    </p>
    <p>
      Passord kan endres på deltakerweb.
    </p>
  </body>
</html>

