<div class="pull-right">
  <!--<%= link_to 'Show', @financial_aid_application, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn btn-default" %>
  <%= link_to 'Back', financial_aid_applications_path, confirm: 'This will cancel all changes. Are you sure?', method: :get , :class => "btn btn-default" %>
  -->
</div>
<h1>Edit financial aid application</h1>
<%= render 'form' %>

