<div class="pull-right">
<%= link_to 'Back', financial_aid_applications_path, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn btn-default"  %>
</div>
<h1>Financial aid</h1>

<%= render 'form' %>

