<div class="pull-right">

</div>
<h1>Financial aid application</h1>
<br />
  <p>
  <b>Essay:</b>
  <%= @financial_aid_application.essay %>
  </p>

  <p>
  <b>Amount:</b>
  <%= @financial_aid_application.amount %>
  </p>


  <p>
    <b>Options</b><br />
    <% if @financial_aid_application.can_come_anyway? %>
    I can still come, even if I don't receive travel support.<br />
    <% end %>
    <% if @financial_aid_application.other_sources? %>
    I can obtain travel support from other sources.
    <% end %>
  </p>


