<h1>Motivation essay</h1>

<p>Write an essay (max 250 words) about yourself, your experiences and interests. Tell us about your studies and your motivation for participating in ISFiT 2015. How will you use your experience from ISFiT 2015? Have you participated in similar festivals before? Are you a member of a student organization? If yes, please specify.</p>

<%= form_for @profile, url: applications_motivation_path do |profile| %>
<div class="form-group">
  <%= profile.label :motivation_essay %>
  <%= profile.text_area :motivation_essay, class: 'form-control', rows: 14 %>
</div>

<div>
  <%= profile.submit 'Save changes', class: 'btn btn-success btn-lg' %>
</div>
<% end %>