<div class="well">
	<p>
	All articles will be shown to everyone that's logged in. Only admins may create articles.
	</p>
	<p>
	Articles are shown on the front page. A sticky article will be shown on the front page as an important message. This will stand out from other messages.
	</p>
</div>
