
<%= render 'form' %>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-7">
<style type="text/css">
body{}
div{    margin-top:50px,
        margin-bottom:50px;
        padding: 20px;
        background-color:white;
}
a{text-decoration:italic; font-size:30px;}
th{
text-align: left;
font-weight: normal;
}
th, td{
vertical-align:top;
}
</head>
<body>
<form action="isfit.org/" method="post" enctyp="multipart/form-data">
<h1>Create new article</h1>
<h2> Enter article details and press Create article </h2>
<table>
<tr>
<th>Title:</th> 
<td colspan= "2"> <input type="text" name= "tittel"/> </td>
</tr>
<th>Text: <th>
<td>colspan ="2"< textarea name = "text" cols="50" rows="10"></textarea></td>
<tr>
<th>Picture:</th>
<td colspan="2"><input type="file" /></td>
</tr>
<tr>
<th>Recipients:</th>
<td colspan="2"><select name="receiver">
<option value="all">Everyone</option>
<option value="funct">Functionary</option>
<option value="participant">Participants</option>
</select></td>
</tr>
<tr>
<th>Expire date and time:</th>
<td colspan="2"><input type="text" name="dato"><input type="text" name="time" value="23:59"></td>
</tr>
<tr>
<th>Date and Time format:</th>
<td>YYYY-MM-DD HH:MM</td>
<td><input type="submit" value="Create article"></td>
</tr>
</table>
</form>
</body></html>

<%= link_to 'Back', articles_path %>
