<%= render 'menu' %>

<div class="pull-right">
<%= link_to 'Back', applications_path, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn btn-default"  %>
</div>
<h1>New application</h1>

<%= render 'form' %>

