<div class="pull-right">
<%= link_to 'Edit', edit_application_path(@application), :class => "btn" %>
<%= link_to 'Back', applications_path, :class => "btn" %>
</div>

<%= render 'show' %>

<%= render 'travel' %>
