<p>Dear Mr/ Miss</p>

<% if @deadline_num.to_i == 5 %>
  <p>Deadline 5 was not approved on participant-web, please visit participant-web to redo deadline 5.</p>
<% elsif @deadline_num.to_i == 6 %>
  <p>Deadline 6 was not approved on participant-web, please visit participant-web to redo deadline 6.</p>
<% elsif @deadline_num.to_i == 8 %>
  <p>Deadline 8 was not approved on participant-web, please visit participant-web to redo deadline 8.</p>
<% end %>

<p>
Kind Regards<br>
The Participant Team, ISFiT 2013
</p>
