<p>Dear Mr/ Miss</p>

<% if @deadline_num.to_i == 5 %>
  <p>Deadline 5 was approved on participant-web, you are now able to continue on the deadlines.</p>
<% elsif @deadline_num.to_i == 6 %>
  <p>Deadline 6 was approved on participant-web, you are now able to continue on the deadlines.</p>
<% elsif @deadline_num.to_i == 8 %>
  <p>Deadline 8 was approved on participant-web, you are now able to continue on the deadlines.</p>
<% end %>

<p>
Kind Regards<br>
The Participant Team, ISFiT 2013
</p>
