<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<p>Dear sir or madam,</p>

<p>We are sorry to tell you that because you did not meet the deadline you have been eliminated from participant web. This means that you are eliminated from our system and cannot participate in ISFiT 2015.</p>

<p>If there has been a mistake, please contact <a href="mailto:question@isfit.org">question@isfit.org</a></p>

<p>
  Sincerly,<br>
  ISFiT
</p>
</body>
</html>