<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<p>Dear participant,</p>

<p>This email is a reminder: You need to accept the invitation to ISFiT 2015 before the 14th of November.  You also need to confirm that you have been to an embassy and applied for a visa. If you fail to do so, you cannot participate in the festival. If you are not able to do this in time, please notify <a href="mailto:question@isfit.org">question@isfit.org</a> as soon as you can.</p>

<p>
  Sincerly,<br>
  ISFiT
</p>
</body>
</html>