<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<p>Dear participant,</p>

<p>You need to accept the invitation to ISFiT 2015 before the 14th of November.

<p>
  Sincerly,<br>
  ISFiT
</p>
</body>
</html>