<%= render 'settings/sidebar_left' %>

<h1>Profile</h1>

<p>This information is on your profile, it will be used when we review your application and under the festival.</p>

<%= form_for @profile, url: settings_profile_path(@user) do |f| %>
  <%= render 'form', {f: f} %>

  <div>
    <%= f.submit class: 'btn btn-success btn-lg' %>
  </div>
<% end %>