<p class="important">
Hint: You can create a new category <%= link_to  "here", new_information_category_path %>.
<p class="info">
Information pages will be shown to all logged in users. Only admins may create, update and delete an information page. Each information page has a category.
</p>

