<div class="pull-right">
  <%= link_to 'Show', @information_page, class: "btn" %>
  <%= link_to 'Index', information_pages_path, class: "btn btn-primary" %>
</div>

<h1>Editing information page</h1>

<%= render 'form' %>
