<div id="formatting" class="info">
  <table>
    <th>Type</th>
    <th>Usage</th>
    <th>Example</th>
    <tr>
      <td>Heading</td><td>##Deltaker er best</td><td><h2>Deltaker er best</h2></td>
    </tr>
    <tr>
      <td>Sub-heading</td><td>###Deltaker er søt</td><td><h3>Deltaker er søt</h3></td>
    </tr>
    <tr>
      <td>Emphasis</td><td>*deltakergjengen*</td><td><em>Deltaker er best</em></td>
    </tr>
    <tr>
      <td>Emphasis</td><td>_deltakergjengen_</td><td><strong>Deltaker er best</strong></td>
    </tr>
    <tr>
      <td>Unordered list</td><td>- Deltakergjengen<br>- IT<br></td><td><ul><li>deltakergjengen</li><li>IT</li></ul></td>
    </tr>
    <tr>
      <td>Ordered list</td><td>1. Deltakergjengen<br>2. IT<br></td><td><ol><li>deltakergjengen</li><li>IT</li></ol></td>
    </tr>
    <tr>
      <td>Link</td><td>[reddit]http://www.reddit.com</td><td><a href="http://www.reddit.com">reddit</a></td>
    </tr>
  </table>
</div>
