<h1>Edit your profile</h1>
<%= render 'form' %>

<% content_for :sidebar_left do %>
  <h4>Controls</h4>
  <ul class="vlist">
    <li><%= link_to 'Show profile', @participant %></li>
  </ul>
<% end %>
