<%= render 'menu' %>

<div class="well">

  <% if not @participant.active and @participant.applied_for_visa == 0 and DeadlinesUser.where("deadline_id = 2 AND user_id = ?", @participant.user.id).count == 1 %>
    <h4>Failed to apply for visa</h4>
    <p>The participant answered "No" on the second deadline, and failed to apply for a visa. Do you want to reset this, and let the participant redo the deadline?</p>

    <%= link_to 'Reset', remove_deadline_participant_path(@participant, :deadline => 2), :method => "POST", confirm: 'Are you sure?', class: "btn btn-danger" %>

  <% elsif not @participant.active %>
    <h4>Inactive</h4>
    <p>The participant has failed on a deadline. But no solution to fix this is available on the system.</p>

  <% else %>
    <h4>Active</h4>
    <p>The participant has not missed on any deadlines, and is still active.</p>

  <% end %>

</div>
