<%= render 'menu' %>

<h1>Graphics</h1>
<p>
Stats below shows the number of participants that that currently are active in the system.
</p>

<div id="statistics">
  <%= render 'stats' %>
  <%= render 'workshop_stats' %>
</div>
