<html> 
  <head>
    <meta charset="UTF-8">

    <style type="text/css">
      td {
        font-family: 'Times New Roman';
        font-size: 10pt;
      };
      body {
        padding-left: 100px;
        padding-right: 100px;
      };
      .style2 {
        text-align:justify;
      };
    </style> 
  </head>
  <body>
    <table width="100%" border="0"> 
      <tr> 
        <td colspan="2"><div align="right"><%= image_tag 'logo_svartcyan_2013.png', :width=>"150"%></div></td> 
      </tr> 
      <tr> 
        <td colspan="2"><span class="style2">To whom it may concern</span></td> 
      </tr> 
      <tr> <td colspan="2">&nbsp;</td></tr> 
      <tr> 
        <td colspan="2">  
          <p>
          This letter confirms that <%= "#{@participant.last_name} #{@participant.first_name}" %> has been offered a place on the bus transit
          between Oslo Airport Gardermoen and Trondheim. The bus departs from from Gardermoen on 6th
          February, and the return trip departs from Trondheim on 17th February.
          </p>

          <p>
          Oslo Airport Gardermoen is Norway's main airport, and most international transits in Norway
          arrive and depart from Gardermoen. Since ISFiT takes place in Trondheim, it is necessary to set
          up transportation between Gardermoen and Trondheim. This is primarily to make sure ISFiT's
          participants have the offer to use the most affordable mode of transport to Trondheim.
          </p>
        </tr> 
        <tr> 
          <td width="50%" align="left"><p><%= image_tag 'kari_eline_signature.png', :style => "border-bottom: 1px solid black", :width => "160"%> </p>
            <p>Kari Eline Strandjord<br>
            Head of Participant, ISFIT 2013</p></td>
        </tr>
      </table> 
    </body>
  </html>
