<% content_for :sidebar_left do %>
    <ul class="nav nav-list well">
      <li class="nav-header">Users</li>
      <li><%= link_to image_tag('icons/user.png') +' All Users', users_path %></li>
      <li><%= link_to image_tag('icons/user_add.png') +' New User', new_user_path %></li>
    </ul>
<% end %>
