<% content_for :sidebar_left do %>
  <% if @user.avatar %>
    <%= image_tag @user.avatar.url(:medium) %>
  <% end %>
<% end %>
<h2>User information</h2>
<p>
<b>Email</b>
<%= @user.email %>
</p>
<p>
<b>Member of model groups:</b>
<ul>
<%@user.roles.each do |r|%>
  <li><%=r.name%></li>
<%end%>
</ul>
<%= link_to 'Edit', edit_user_path(@user) %>
