@charset "UTF-8";
/**
* * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
* * (en) stylesheet for screen layout
* * (de) Stylesheet für das Bildschirm-Layout
* *
* * @creator YAML Builder V1.2 (http://builder.yaml.de)
* * @file basemod.css
* * @-yaml-minver 3.2
* */

@media screen, projection
{
  /**
* * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera
* * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera
* *
* * @workaround
* * @affected IE8, FF, Webkit, Opera
* * @css-for all
* * @valid CSS3
* */

body { overflow-y: scroll; }

/*-------------------------------------------------------------------------*/

/* (en) Marginal areas & page background */
/* (de) Randbereiche & Seitenhintergrund */
body { background: #4d87c7 url("../../bg.jpg") top left fixed;  padding: 10px 0; }

/* Layout Alignment | Layout-Ausrichtung */
.page_margins { margin: 0 auto; }

/* Layout Properties | Layout-Eigenschaften */
.page_margins { width: 964px; max-width: 110em; background: #fff; }
.page { background: #fff; border: 2px solid black;}
#header { height: 183px; padding: 45px 2em 1em 20px; background:#edf2f8 url("../../banner.jpg") ; }
#topnav { color: #000; background: transparent; position: relative; top: -25px;}
#nav { overflow:hidden; position: relative; top: -27px; }
div.hlist { background: transparent; }
#main { margin: 10px 0; background: #fff; }
#teaser { clear:both; padding: 0 20px; margin: 0px 0; }
#footer { padding: 10px 20px; color:#666; background: #fff; border-top: 5px #fff solid; }

/* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung */
#nav ul { margin-left: 20px; }

/*-------------------------------------------------------------------------*/

/**
* * (en) Formatting content container
* * (de) Formatierung der Inhalts-Container
* *
* */

#main { float: left; width: 100% }
#col1 { float: left; width: 50%; margin: 0 0 0 25% }
#col2 { float: left; width: 25%; margin: 0 0 0 -75% }
#col3 { float: right; width: 25%; margin-left: -5px; margin-right: 0; }
#col1_content { padding: 0 10px }
#col2_content { padding: 10px 20px 0 20px }
#col3_content { padding: 10px 20px 0 10px }

/*---------------------------------------------10px----------------------------*/
          }