<p>Dear <%= @participant.first_name %> <%= @participant.last_name %>,</p>

<p>
Please make sure deadline 6 is filled in and confirmed by 15 December. If
you are unable to meet the deadline you must contact your participant
functionary.
</p>
<p>
As for non-visa participants, please remember to confirm deadline 6, even
if you do not need a visa.
</p>
<p>
Deadline 6 is due 15th December, and participants who fail to confirm will
lose their status as participant of ISFiT.
</p>
<p>
Kind Regards,<br>
The Participant Team<br>
ISFiT 2013
</p>
