<p>Dear <%= @participant.first_name %> <%= @participant.last_name %>,</p>

<p>
Please make sure that deadlines 7, 8 and 9 are filled in and confirmed at
participant web within the 15th of January. All participants must fill in:
<ul>
  <li>whether or not they wish to order ISFiT transportation</li>
  <li>flight itinerary and flight information</li>
  <li>confirm participation</li>
</ul>
</p>
<p>
All participants must make sure that this is done by the 15th of January.
If unable to meet the deadline, please contact your participant functionary
before the deadline is due.
</p>
<p>
Deadlines 7, 8 and 9 are due on the 15th of January, and participants who
fail to comply will lose their place at the festival!
</p>
<p>
Kind Regards,<br>
The Participant Team<br>
ISFiT 2013
</p>
