<p>Dear ISFiT applicant,</p>

<p>
We regret to inform you that you have not been selected as a participant for ISFiT 2013. We received 5900 applications and we have been through a long and thorough evaluation process selecting the invited participants. We therefore ask you to kindly respect our decision, and hope that you will apply again for the next ISFiT in 2015.
</p>

<p>
Yours sincerely,
</p>

<p>
The Participant Team<br>
ISFiT 2013
</p>