<p>
Dear <%= @participant.first_name %> <%= @participant.last_name %>,
</p>
<p>
You did not approve Deadline 6 at Participant Web before the given deadline, and therefore you are not able to participate at ISFiT 2013. This is an unfortunate situation, but there is nothing more we can do except encourage you to kindly respect our decision, and hope that you will apply again for the next ISFiT in 2015. 
</p>
<p>
Yours sincerely,
</p>
<p>
The Participant Group<br>
ISFiT 2013
</p>


