<p>
Dear ISFiT Participant,
</p>

<p>
We are in contact with the Norwegian Embassy in your country, requesting funding for your travel to Trondheim. You will maybe have a chance to get travel support, even though you were not granted it at first. More information will come when we have a answer from the embassy.
</p>

<p>
Please note that if you get travel support, the travel expenses will be refunded during the festival in February 2013. You will be asked to present your ticket stubs and travel receipts, so please do not throw these away.
</p>

<p>
We wish you good luck planning your trip and look forward to seeing you in Trondheim in February 2013. If you have further questions, please contact us through your profile at <a href="https://participant.isfit.org">https://participant.isfit.org</a>.
</p>

<p>
Best regards,
</p>

<p>
Kari Eline Strandjord<br>
Head of Participation, ISFiT 2013<br>
<a href="http://www.isfit.org">www.isfit.org</a> | <a href="http://www.studentpeaceprize.org">www.studentpeaceprize.org</a><br>
Trade Your Ideas<br>
</p>
