<p>
Dear ISFiT applicant,
</p>
<p>
We regret to inform you that we will not be able to invite any students
from the waiting list to participate in ISFiT 2013. We hope you will apply
again for the next ISFiT in 2015.
</p>
<p>
Yours sincerely,
</p>
<p>
The Participant Team<br>
ISFiT 2013
</p>
