<!-- functionary view -->
<div id="important_articles" class="important_articles">
  <%= render @important_articles %>
</div>
<div id="articles" class="articles">
  <%= render @articles %>
</div>
<% content_for :sidebar_left do %>
<div>
  There are <%=pluralize(@lastten.size, "unanswered question")%>
  <table class="full">
    <tr>
      <th>
        Subject
      </th>
    </tr>
    <%  @lastten.each do |x| %>
      <tr>
        <td>
          <%= link_to x.subject, x %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>
