<!-- functionary view -->
<div class="well">
  <div id="important_articles" class="important_articles">
    <%= render @important_articles %>
  </div>
  <div id="articles" class="articles">
    <%= render @articles %>
  </div>
</div>
<% content_for :sidebar_left do %>
  <div class="well">
    There are <%=pluralize(@lastten.size, "unanswered question")%>
  <ul class="vlist">
    <%  @lastten.each do |x| %>
      <li>
      <%= link_to image_tag('icons/comment.png') + ' ' + x.subject, x %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
