<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<p>Dear ISFiT applicant,</p>

<p>Congratulations, you have been selected to participate at ISFiT 2015!</p>

<p>For a closer look at your invitation and further information please log onto <a href="https://participant.isfit.org">https://participant.isfit.org</a>. Please follow the steps indicated at <a href="https://participant.isfit.org">https://participant.isfit.org</a>. This is the same website you used to apply for ISFiT. You can log in by using the same username and password as before.</p>

<p>Some of you have not been invited to the workshops that you originally applied for because we did a careful evaluation of your application, and found that you are a better match for another workshop.</p>

<p>If you have any questions regarding the festival, please contact us at https://participant.isfit.org.</p> 

<p>We are looking forward to see you in Trondheim in February 2015!</p>

<p>
  Yours Sincerely,<br>
  The Participant Team<br>
  ISFiT 2015
</p>
</body>
</html>