<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<p>Dear ISFiT applicant,</p>

<p>We regret to inform you that you have not been selected as a participant for ISFiT 2015. We received 5300 applications and we have been through a long and thorough evaluation process selecting the invited participants. We therefore ask you to kindly respect our decision, and hope that you will apply again for the next ISFiT in 2017.</p>

<p>
  Yours sincerely,<br>
  The Participant Team<br>
  ISFiT 2015<br>
</p>
</body>
</html>