<div class="pull-right">
<%= link_to 'Back', dashboard_path, confirm: 'This will cancel all changes. Are you sure?', method: :get, :class => "btn btn-default"  %>
</div>
<h1>Apply for the dialogue groups</h1>

<p>
  If you are interested in participating in the dialogue groups 2015 you will need to fill in the following form. All applications will be read after the 30th of September. The students who are selected to participate, will receive an invitation by e-mail with instructions for applying for visa and other formalities. All travel and living costs are covered for the participants of the dialogue groups. 
</p>

<p>
  Please note that you have to be at least 18 years old and a student on the time of participation. The form must be completed due the <strong>30th of September</strong>. 
</p>

<%= render 'form' %>

