<!doctype html>
<html>
<head>
  <meta charset='utf-8' />

  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
</head>

<body>
<p>
  <img src="http://d1808cfbu9pnsj.cloudfront.net/logo2015.png" />
</p>

<p>
  <em>Trondheim, 11th of November 2014</em>
</p>

<p>To whom it may concern,</p>

<p>This is a letter of recommendation for travel support for <%= current_user.full_name %>, who have been invited to attend ISFiT 2015. The participants have been selected on the basis of two essays, and only those who demonstrated the greatest motivation and interest in this year’s theme have received invitations to participate. We send you this information hoping that you are able to help some of the participants with travel support. This will make it possible for them to come to Trondheim, Norway, and gain unique experiences.</p>

<p>ISFiT, the International Student Festival in Trondheim, will be arranged for the 13th time, 5-15th of February 2015. ISFiT is the world’s largest international student festival with a thematic focus. Roughly 450 students from all parts of the world will gather to discuss topics related to this years theme: Corruption. These discussions will take place in workshops and plenary sessions. Past speakers at the plenary sessions include His Holiness the Dalai Lama, former Director-General of WHO Dr Gro Harlem Brundtland and Nobel Peace Prize Laureates Dr José Ramos-Horta, Professor Wangari Maathai and Nobel Peace Prize Laureate Dr Desmond Tutu. There will also be a variety of cultural and social activities such as concerts, theatre, dance and exhibitions.</p>

<p>To live up to our name as an international student festival, it is important that our participants are students with various social, cultural, religious and educational backgrounds. Our aim is to have students from more than 100 countries represented at ISFiT 2015. We strongly feel that our candidates deserve to be financially supported, so they will get the chance to participate at ISFiT 2015.</p>

<p>Best Regards,</p>

<p>
  <img src="http://d1808cfbu9pnsj.cloudfront.net/signature_marius.png" height="60px" /><br>
  Marius Jones<br>
  President, ISFiT 2015
</p>
</body>
</html>