@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body { 
  padding-top: 60px; 
  margin-bottom: 80px;
  background-image: url(https://s3.eu-central-1.amazonaws.com/isfit15-participant/images/background-pattern.png);
}

/* Boxes */
.box {
  background-color: #fff;
  padding: 1px 20px;
}

.box-header {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.box-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.box-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 15px;
}

.box-information {
  border-top: 1px solid rgb(238, 238, 238);
  background-color: rgb(248, 248, 248);
  
  padding: 14px 20px 5px 20px;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #f0f0f0;
  background-color: #1b1b1b;
  padding: 1px 0;

  p {
    margin: 6px 0;
  }
}

/* Other */
.info-box {
  padding: 10px;

  h2 {
    font-size: 150%;
    margin: 0.3em 0;
  }
}

.btn-dashboard {
  width: 100%;
}

.hosts_button_spacing {
  padding-right: 1em;
}