@import "bootstrap";
@import "workshop_applications.css.scss";

body { 
  padding-top: 60px; 
}

.info-box {
    padding: 10px;

    h2 {
        font-size: 150%;
        margin: 0.3em 0;
    }
}

.btn-dashboard {
    width: 100%;
}

.hosts_button_spacing {
  padding-right: 1em;
}

.red-text {

	color: #ff0000;
}

.yellow-text {
	color: #ffa600;
}

.green-text {
	color: #00ff00;

}

.font-size-200 {
	font-size: 2.5em;
}