tr td:first-of-type {
  font-weight: bold;
}

.part-green {
  background-color: #00ff00;
}

.part-red {
  background-color: #ff0000;
}

.part-yellow {
  background-color: #ffff00;
}

.table-borderless td,
.table-borderless th{ 
    border: 0 !important
}
