<h1>Dialogue Application</h1>

<p>
  This is the information we have registered on your <em>dialogue application</em>. You can change it and every field must be filled until the 30th of september.
</p>

<%= render 'form' %>