<h1>Your dialogue groups application</h1>

<p>
  ISFiT dialogue groups 2015 would like to welcome students from Rwanda, Burundi and South Africa to apply for the dialogue groups. The dialogue seminar will be held from January 26 - February 15 2015. 
</p>

<p>
  You have created an application and You have have submited an application You are welcome to change it and the form must be completed by 30th of September.
</p>

<%= render 'form' %>