<h1>Apply for the dialogue groups</h1>

<p>
  ISFiT dialogue groups 2015 would like to welcome students from Rwanda, Burundi and South Africa to apply for the dialogue groups. The dialogue seminar will be held from January 26 - February 15 2015. 
</p>

<p>
  If you are interested in participating in the dialogue groups 2015 you will need to fill in the following form. All applications will be read after the 30th of September. The students who are selected to participate, will receive an invitation by e-mail with instructions for applying for visa and other formalities. All travel and living costs are covered for the participants of the dialogue groups.
</p>

<p>
  Please note that you have to be at least 18 years old and a student at the time of participation. The form must be completed by 30th of September.
</p>

<%= render 'form' %>